@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@DSS.ResourcesLanguage.BrandIndex.PageHeader</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.BrandIndex.PageTitle</h2>
                    <div class="bs-glyphicons" style="width:60%; margin-left: 40%;">
                        <a href="/Brand/Form" class="iframe">
                            <ul class="bs-glyphicons-list">
                                <li>
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" text-align:center></span>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @DSS.ResourcesLanguage.BrandIndex.ColNo
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" aria-sort="ascending">
                                    @DSS.ResourcesLanguage.BrandIndex.ColBrand
                                </th>
                                <th>@DSS.ResourcesLanguage.BrandIndex.ColStatus</th>
                                <th>@DSS.ResourcesLanguage.BrandIndex.ColDescription</th>
                                <th>@DSS.ResourcesLanguage.BrandIndex.ColAction</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var brandsList = ViewBag.brandList as List<DSS.Models.BrandDetailVM>;
                                var i = 0;
                                foreach (var item in brandsList)
                                {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td>@(item.Name)</td>
                                        <td>
                                            <a href="#" class="isActive" style="color: @( (bool) item.isActive?"green":"red")" onclick="changeStatus(this)" data-stt="@(item.isActive)" data-id="@(item.Id)">@((bool)item.isActive ? DSS.ResourcesLanguage.AccountError.TxtActive : DSS.ResourcesLanguage.AccountError.TxtDisable)</a>
                                        </td>
                                        <td>@(item.Description)</td>
                                        <td style="width:180px; text-align:center">
                                            <a href="/Brand/Form/@(item.Id)" class="iframe"><i class="fa fa-pencil btn btn-info"> @DSS.ResourcesLanguage.BrandIndex.BtnEdit</i></a>
                                            <a class="btnDelete" data-id="@item.Id"><i class="fa fa-trash btn btn-danger"> @DSS.ResourcesLanguage.BrandIndex.BtnDelete</i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="@DSS.ResourcesLanguage.AccountError.TxtDisable" id="disable" />
    <input type="hidden" value="@DSS.ResourcesLanguage.AccountError.TxtActive" id="active" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.BrandRecover" id="recover" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.BrandSafe" id="safe" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.DeleteBrand" id="del" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted1" id="deleted" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.YesDelete" id="yes" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.NoCancel" id="no" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Sure" id="sure" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.error" id="err" />
    <input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Canceled" id="cancel" />



    @section scripts{
        <!-- Datatables -->
        <script src="~/Content/template-material/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/Content/template-material/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="~/Content/template-material/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/Content/template-material/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/Content/template-material/vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
        <!-- iframe button matching-->
        <script src="~/Content/form-matching-device/jquery.colorbox.js"></script>
        <script>
            $(document).ready(function () {
                //Examples of how to assign the Colorbox event to elements
                $(".iframe").colorbox({
                    iframe: true, width: "65%", height: "60%",
                    //refresh page when summit
                    //onClosed: function () { location.reload(true); },
                });
                //Example of preserving a JavaScript event for inline calls.
                $("#click").click(function () {
                    $('#click').css({ "background-color": "#f00", "color": "#fff", "cursor": "inherit" }).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
        </script>
        <!-- end iframe button matching-->
        <script>
            /*Change status enable disable*/
            function changeStatus(el) {
                var curStt = $(el).attr("data-stt") == "true" || $(el).attr("data-stt") == "True";
                var dataId = $(el).attr("data-id");
                $.ajax({
                    type: "GET",
                    url: "/Brand/UpdateStatus?dataId=" + dataId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            curStt = !curStt;
                            $(el).attr("data-stt", curStt ? "true" : "false"); //Change status
                            $(el).html((curStt) ? $("#active").val() : $("#disable").val()); //Change status text
                            $(el).css("color", curStt ? "green" : "red"); //Change status color
                        }
                    },
                    error: function () {
                        alert($("#err").val())
                    }
                });
            }
        </script>
        <!--Sweet alert-->
        <script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
        <script>
            $(".btnDelete").click(function () {
                var btnDel = $(this);
                var boxNum = 0;
                $.ajax({

                });
                swal({
                    title: $("#sure").val(),
                    text: $("#recover").val(),
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: $("#yes").val(),
                    cancelButtonText: $("#no").val(),
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            var IdDelete = $(btnDel).attr("data-id");
                            $(btnDel).attr("href", "/Brand/Delete?Id=" + IdDelete);
                            $.ajax({
                                type: "GET",
                                url: "/Brand/Delete?Id=" + IdDelete,
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    swal($("#deleted").val(), $("#del").val(), "success");
                                    location.reload();
                                },
                                error: function () {
                                    alert($("#err").val())
                                }
                            });
                        } else {
                            swal($("#cancel").val(), $("#safe").val(), "error");
                        }
                    });
            });
        </script>
        <!--End Sweet alert-->
    }

    @section styles{
        <!-- Datatables -->
        <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
        <!-- iframe button matching-->
        <link rel="stylesheet" href="~/Content/form-matching-device/colorbox.css" />
        <!-- end iframe button matching-->
        <!--button add-->
        <link href="~/Content/button-add/css/custom.min.css" rel="stylesheet">
        <!-- End button add-->
        <!--Sweet alert-->
        <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
        <!--End Sweet alert-->
    }
