@model DSS.Models.ScenarioDetailVM
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Chỉnh nút status
    bool status = true;
    if (Model != null)
    {
        status = Model.IsPublic;
    }
}
<div class="" role="main" style="min-height: 1207px;width:inherit">
    <div style="width:1230px;margin-right:1000px">
        <div class="page-title">
            <div class="title_left">
                <h3>@((Model?.ScenarioId != null) ? DSS.ResourcesLanguage.ScenarioAddForm.PageHeader : DSS.ResourcesLanguage.ScenarioAddForm.PageHeader)</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-8 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@((Model?.ScenarioId != null) ? DSS.ResourcesLanguage.ScenarioAddForm.PageTitle : DSS.ResourcesLanguage.ScenarioUpdateForm.PageTitle)<small>@DSS.ResourcesLanguage.ScenarioAddForm.TxtStepbyStep</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Smart Wizard -->
                        <p>@((Model?.ScenarioId != null) ? "" : @DSS.ResourcesLanguage.ScenarioAddForm.TxtInfo)</p>
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps anchor">
                                <li>
                                    <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#step-1" class="selected" isdone="1" rel="1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            @((Model?.ScenarioId != null) ? "Enter Info" : @DSS.ResourcesLanguage.ScenarioAddForm.TxtStep1)<br>
                                            <small>@DSS.ResourcesLanguage.ScenarioAddForm.TxtEnterScenarioInfo</small>
                                        </span>
                                    </a>
                                </li>
                                @if (Model?.ScenarioId == null)
                                {
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#step-2" class="disabled" isdone="0" rel="2">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.TxtStep2<br>
                                                <small>@DSS.ResourcesLanguage.ScenarioAddForm.TxtChooseScreenType</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#step-3" class="disabled" isdone="0" rel="3">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.TxtStep3<br>
                                                <small>@DSS.ResourcesLanguage.ScenarioAddForm.TxtChooseScreenLayout</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#step-4" class="disabled" isdone="0" rel="4">
                                            <span class="step_no">4</span>
                                            <span class="step_descr">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.TxtStep4<br>
                                                <small>@DSS.ResourcesLanguage.ScenarioAddForm.TxtNavigateScenarioDetails</small>
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <div class="stepContainer" style="height:auto">
                                @using (Html.BeginForm((Model?.ScenarioId != null) ? "Update" : "Add", "Scenario", new { ScenarioId = (Model?.ScenarioId) }, FormMethod.Post, new { @id = "frm_scenario", @class = "form-horizontal form-label-left", role = "form" }))
                                {
                                    <input type="hidden" id="txtScenarioId" value="@(Model?.ScenarioId)" />
                                    <div id="step-1" class="content" style="display: block;">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.LblTitle <span class="required">*</span> <br />
                                                <span id="msg_title" style="color:red"></span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" value="@(Model?.Title)" id="txtTitle" required="required" class="form-control col-md-7 col-xs-12" name="Title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.LblStatus <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <input type="checkbox" id="cbStatus" name="isPublic" value="true" class="js-switch" @(status ? "checked" : "") /> <span id="spStatus">@(status ? DSS.ResourcesLanguage.ScenarioAddForm.TxtPublic : DSS.ResourcesLanguage.ScenarioAddForm.TxtPrivate)</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-3">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.LblDescription
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <textarea class="form-control" rows="3" name="Description">@(Model?.Description)</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-2" class="content" style="display: none;">
                                        <div style="float:left; padding-left:250px;padding-top:30px">
                                            <img src="~/Content/images/Scenario/Landscape.png" /><br />
                                            <div style="text-align:center">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.TxtLandscape<br /><br /><br />
                                                <div><input type="radio" checked value="true" name="Orientation"></div>
                                            </div>
                                        </div>
                                        <div style="float:right;padding-right:250px;padding-bottom:20px">
                                            <img src="~/Content/images/Scenario/Portraintpng.png" /><br />
                                            <div style="text-align:center">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.TxtPortrait<br />
                                                <div><input type="radio" value="false" name="Orientation"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-3" class="content" style="display: none;">
                                    </div>
                                    <div id="step-4" class="content" style="display:none;">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>@DSS.ResourcesLanguage.ScenarioAddForm.TxtPreview </h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div id="preview-warapper" style="display:inline-block;align-content:center">
                                                        <div style="height:350px;width:570px;align-content:center" id="divLayout">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="AudioArea" id="txtAudioAreaId" value="" />
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>@DSS.ResourcesLanguage.ScenarioAddForm.TxtPlaylistInfo</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                            @DSS.ResourcesLanguage.ScenarioAddForm.LblTitle:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12" id="titleInfo">
                                                            CoCa CoLa
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                            @DSS.ResourcesLanguage.ScenarioAddForm.LblDescription:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12" id="descriptionInfo">
                                                            Good video
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                            @DSS.ResourcesLanguage.ScenarioAddForm.LblDuration:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-6" id="durationInfo">
                                                            18:00
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="x_panel" style="height:470px">
                                                <div class="x_title">
                                                    <h2>@DSS.ResourcesLanguage.ScenarioAddForm.TxtAreaListPlaylist</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <ul id="toList" style="height:350px" class="stepContainer"></ul>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="x_panel" style="height:400px">
                                                <div class="x_title">
                                                    <h2>@DSS.ResourcesLanguage.ScenarioAddForm.TxtYourPlaylist</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <ul id="fromList" style="height:350px" class="stepContainer"></ul>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@DSS.ResourcesLanguage.MediaSrcAddForm.TxtPublic" id="public" />
<input type="hidden" value="@DSS.ResourcesLanguage.MediaSrcAddForm.TxtPrivate" id="private" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.InUse" id="use" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.CantSentReq" id="req" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.IfDelete" id="if" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Sure" id="sure" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.notbeable" id="able" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.YesDelete" id="yes" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.NoCancel" id="cancel" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted1" id="deleted1" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted" id="deleted" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.error" id="error" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Canceled" id="canceled" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Filesafe" id="safe" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.PlsArea" id="area" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.PlsCorrect" id="corr" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Next" id="next" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Title" id="title" />
@section scripts{
    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = $("#private").val();
            if (this.checked) {
                text = $("#public").val();
            }
            $('#spStatus').text(text);
        });
    </script>
    <!-- End Switchery Change Status Text-->
    <!-- Switchery -->
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
    <!-- End Switchery -->
    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = "Private";
            if (this.checked) {
                text = "Public";
            }
            $('#spStatus').text(text);
        });
    </script>
    <!-- Switchery -->
    <script src="/Content/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        //function swapVideo() {
        //    player.src = this.getAttribute("data-video-url");
        //    player.load();
        //    player.play();
        //}
        var audioSettingBeingChosen = false;
        function audioCheck(el) {
            audioSettingBeingChosen = false;
            $("#btnAudio").css("border", "none");
            $('.cbAudio').not($(el)).prop('checked', false);
            var curVal = $('#txtAudioAreaId').val();
            if (curVal == $(el).attr("value")) {
                $("#txtAudioAreaId").attr("value", "-1");
            } else {
                $("#txtAudioAreaId").attr("value", $(el).attr("value"));
            }
            console.log($('#txtAudioAreaId').val());
        }
        function audioSetting(el) {
            audioSettingBeingChosen = !audioSettingBeingChosen;
            if (!audioSettingBeingChosen) {
                $("#btnAudio").css("border", "none");
                $("#txtAudioAreaId").attr("value", "-1");
            } else {
                $("#txtAudioAreaId").attr("value", $(el).attr("area-id"));
                $('.cbAudio').each(function () {
                    $(this).prop("checked", false);
                });
                onVdPlay(el);
            }            
            console.log($('#txtAudioAreaId').val());
        }
        var videoPlayButtons = document.querySelectorAll("button"),
            player = document.getElementById("player");

        for (var i = 0; i < videoPlayButtons.length; i++) {
            videoPlayButtons[i].addEventListener('click', swapVideo);
        }
        function submitFunction() {
            var other_data = $('#frm_scenario').serializeArray();
            var data = {
                PlaylistAreaArr: [],
            };
            $.each(other_data, function (key, input) {
                data[input.name] = input.value;
            });
            $.each(PlaylistAreaObj, function (index, value) {
                var obj = {
                    "AreaId": index,
                    "PlaylistIds": value,
                };
                data["PlaylistAreaArr"].push(obj);
            });
            console.log(data);
            $.ajax({
                url: '/Scenario/Add',
                method: 'POST',
                data: data,
                success: function (res) {
                    if (res.success) {
                        location.href = res.url;
                    } else {
                        alert("500: Server error!");
                    }
                },
                error: function () {
                    alert($("#req").val());
                }
            });
        };
    </script>
    <script>
        $("#toList").sortable({
            connectWith: '#deleteArea',
            update: function (event, ui) {
                //Run this code whenever an item is dragged and dropped out of this list
                var order = $(this).sortable('serialize');
            },

        });
    </script>
    <script>
        function swapVideo(id, el) {
            var allListItem = document.querySelectorAll('#toList li');
            for (var item of allListItem) {
                if (item.getAttribute('id') == id) {
                    item.classList.add('i-new');
                    item.classList.remove('i-old');
                } else {
                    item.classList.add('i-old');
                    item.classList.remove('i-new');
                }
            }
            var firstBtn = document.querySelector(`#${id} .btn-success`);
            player.src = firstBtn.getAttribute("data-video-url");
            player.load();
            player.play();
        }
        var videoPlayButtons = document.querySelectorAll("button"),
            player = document.getElementById("player");
    </script>
    <script>
        /* STEP 2*/
        $("input:radio[name='Orientation']").change(function () {
            var isLandscape = $(this).val();
            if (isLandscape == "true") {
                $("#divLayout").css("height", "300px");
                $("#divLayout").css("width", "533px");
            } else {
                $("#divLayout").css("height", "533px");
                $("#divLayout").css("width", "300px");
            }
            loadLayoutList(isLandscape);
        });
        function loadLayoutList(isHorizontal) {
            var data = {
                isHorizontal: isHorizontal,
            };
            $.ajax({
                type: "POST",
                url: "/Scenario/LoadLayoutList",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var layoutList = data.LayoutVMs;
                    if (layoutList != null) {
                        $("#step-3").find('div').remove().end();
                        for (var i = 0; i < layoutList.length; i += 3) {
                            var checked = i == 0 ? "checked" : "";
                            var style = isHorizontal == "true" ? "width: 250px; height: 140px" : "width: 140px; height: 250px";
                            $("#step-3").append('<div style="padding-top:30px" class="col-md-12 col-sm-12 col-xs-12">');
                            $("#step-3").append('<div class="col-md-4 col-sm-4 col-xs-4">'
                                + '<img src="' + layoutList[i].URL + '" style="display:block; margin:auto;' + style + '" />'
                                + '<input type="radio" value="' + layoutList[i].LayoutID + '" name="LayoutId" style="display:block; margin:auto; margin-top:20px" ' + checked + ' onclick="loadLayout(' + layoutList[i].LayoutID + ')" />'
                                + '</div>');
                            if (i + 1 < layoutList.length) {
                                $("#step-3").append('<div class="col-md-4 col-sm-4 col-xs-4">'
                                    + '<img src="' + layoutList[i + 1].URL + '" style="display:block; margin:auto;' + style + '" />'
                                    + '<input type="radio" value="' + layoutList[i + 1].LayoutID + '" name="LayoutId" style="display:block; margin:auto; margin-top:20px" onclick="loadLayout(' + layoutList[i + 1].LayoutID + ')"/>'
                                    + '</div>');
                            }
                            if (i + 2 < layoutList.length) {
                                $("#step-3").append('<div class="col-md-4 col-sm-4 col-xs-4">'
                                    + '<img src="' + layoutList[i + 2].URL + '" style="display:block; margin:auto;' + style + '" />'
                                    + '<input type="radio" value="' + layoutList[i + 2].LayoutID + '" name="LayoutId" style="display:block; margin:auto; margin-top:20px" onclick="loadLayout(' + layoutList[i + 2].LayoutID + ')"/>'
                                    + '</div>');
                            }
                            $("#step-3").append('</div');
                        }
                    }
                },
                error: function () {
                    alert($("#error").val())
                }
            });
        }

        /* STEP 3*/
        var playlistList;
        var PlaylistAreaObj = {};
        var areaId;
        $(document).ready(function () {
            var layoutId = $("#txtLayoutId").val();
            if (layoutId == null) {
                layoutId = 7;
            }
            loadLayoutList("true");
            loadLayout(layoutId);
            loadPlaylistList();
        });
        function loadLayout(id) {
            var data = {
                layoutId: id,
            };
            $.ajax({
                type: "POST",
                url: "/Scenario/LoadLayout",
                data: JSON.stringify(data),
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divLayout").html(data);
                },
                error: function () {
                    alert($("#error").val())
                }
            });
        }
        function loadPlaylistList() {
            var data = {
            };
            $.ajax({
                type: "POST",
                url: "/Scenario/LoadPlaylistList",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    playlistList = data.PlaylistList;
                    showAllPlaylist();
                },
                error: function () {
                    alert($("#error").val())
                }
            });
        }
        function showAllPlaylist() {
            for (var i = 0; i < playlistList.length; i++) {
                if (playlistList[i] != '') {
                    $('#fromList').append("<li class='playlistList' onclick='playlistClick(this)' id='fromList_" + playlistList[i].Id + "' data-id='" + playlistList[i].Id + "' "
                        + ">"
                        + "<span id='title'>" + playlistList[i].Title + "</span>"
                        + "<span id='duration'>" + playlistList[i].Duration + "</span>"
                        + "<a onclick='addToArea(this)' style='position:relative; top:-15px; left:0; margin-left:60%' class='btn btn-success btnAddPlaylist' data-video-url='https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE'> + </a>"
                        + "</li>");
                }
            }
        }
        /* STEP 4*/
        function onVdPlay(el) {
            /*Marked current sellected area */
            areaId = $(el).attr("area-id");
            if (!PlaylistAreaObj[areaId]) {
                PlaylistAreaObj[areaId] = [];
            }
            $(".vdReview").css("border", "none");
            $(el).css("border", "thick solid");
            var scenarioId = $("#txtScenarioId").val();
            console.log(scenarioId);
            /* Render Playlist List for current selected area */
            var areaVisualTypeID = $(el).attr("visual-type");
            var data = {
                areaId: areaId,
                scenarioId: scenarioId,
            };
            if (!scenarioId) {
                renderPlaylistList([], areaVisualTypeID);
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Scenario/LoadAreaPlaylist",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        renderPlaylistList(data.ScenarioItemIds, areaVisualTypeID);
                    },
                    error: function () {
                        alert($("#error").val())
                    }
                });
            }
        }

        function renderPlaylistList(ScenarioItemIds, AreaVisualTypeId) {
            /*Remove data when change location*/
            $("#fromList").find('li').remove().end();
            $("#toList").find('li').remove().end();
            /*Load playlist list*/
            for (var i = 0; i < playlistList.length; i++) {
                if (playlistList[i] != '') {
                    var isMatchVisualType = playlistList[i].VisualTypeID == AreaVisualTypeId;
                    console.log(isMatchVisualType);
                    var isShow = !isInArray(playlistList[i].Id, ScenarioItemIds) && !isInArray(playlistList[i].Id, PlaylistAreaObj[areaId]);
                    var style = isShow && isMatchVisualType ? "data-marked='true'" : "style = 'display: none' data-marked='true'";
                    $('#fromList').append("<li class='playlistList' onclick='playlistClick(this)' id='fromList_" + playlistList[i].Id + "' data-id='" + playlistList[i].Id + "' "
                        + style
                        + ">"
                        + "<span id='title'>" + playlistList[i].Title + "</span>"
                        + "<span id='duration'>" + playlistList[i].Duration + "</span>"
                        + "<a onclick='addToArea(this)' style='position:relative; top:-15px; left:0; margin-left:60%' class='btn btn-success btnAddPlaylist' data-video-url='https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE'> + </a>"
                        + "</li>");
                    if (!isShow && isMatchVisualType) {
                        PlaylistAreaObj[areaId].push(playlistList[i].Id);
                        $('#toList').append("<li class='playlistList' onclick='playlistClick(this)' id='fromList_" + playlistList[i].Id + "' data-id='" + playlistList[i].Id + "' "
                            + ">"
                            + "<span id='title'>" + playlistList[i].Title + "</span>"
                            + "<span id='duration'>" + playlistList[i].Duration + "</span>"
                            + "<a onclick='removeItem(this)' style='position:relative; top:-15px; left:0; margin-left:60%' class='btn btn-danger btnRemovePlaylist' data-video-url='https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE'> - </a>"
                            + "</li>");
                    }
                }
            }
        }

        function isInArray(value, array) {
            return array.indexOf(value) > -1;
        }

        /*Add playlist to area*/
        function addToArea(el) {
            if (!areaId) {
                alert($("#area").val());
            } else {
                var liObjOrigin = $(el).parent()[0];
                var liObj = $(liObjOrigin).clone().appendTo("#toList");
                var playlistId = parseInt($(liObj).attr("data-id"));
                PlaylistAreaObj[areaId].push(playlistId);
                $(liObj).children('a').attr('class', "btn btn-danger btnRemovePlaylist");
                $(liObj).children('a').attr('onclick', "removeItem(this);");
                $(liObj).children('a').text(" - ");
                $(el).parent().hide();
            }
        };
        /*Remove playlist from area*/
        function removeItem(el) {
            var id = $(el).parent().attr("id");
            var playlistId = parseInt($(el).parent().attr("data-id"));
            $('#fromList').find("#" + id).show();
            $(el).parent().remove();
            PlaylistAreaObj[areaId] = jQuery.grep(PlaylistAreaObj[areaId], function (value) {
                return value != playlistId;
            });
            console.log(PlaylistAreaObj);
        }
        /*Marked and show info when click on playlist*/
        function playlistClick(el) {
            /*Mark*/
            $("ul > li").css("border", "none");
            $(el).css("border", "solid");
            var data = {
                playlistId: $(el).attr("data-id"),
            };
            /*Show info*/
            $.ajax({
                type: "POST",
                url: "/Scenario/LoadPlaylistInfo",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#titleInfo").html(data.Title);
                    $("#descriptionInfo").html(data.Description);
                    $("#durationInfo").html(data.Duration);
                },
                error: function () {
                    $("#titleInfo").html("###");
                    $("#descriptionInfo").html("###");
                    $("#durationInfo").html("###");
                }
            });
        };

        $('#wizard').smartWizard({
            //onLeaveStep: leaveAStepCallback, //Tắt check validation chuyển step
            onFinish: onFinishCallback
        });

        function leaveAStepCallback(obj, context) {
            return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation
        }

        /* Submit Form Data on Finish*/
        function onFinishCallback(objs, context) {
            if (validateAllSteps()) {
                $('#frm_scenario').submit(function (event) {
                    alert("fdfd submit");
                });
            }
        }

        // Your Step validation logic
        function validateSteps(stepnumber) {
            var isStepValid = true;
            // validate step 1
            if (stepnumber == 1) {
                if (validateStep1() == false) {
                    isStepValid = false;
                    $('#wizard').smartWizard('showMessage', $("#corr").val() + step + $("#next").val());
                    $('#wizard').smartWizard('setError', { stepnum: stepnumber, iserror: true });
                } else {
                    $('#wizard').smartWizard('hideMessage');
                    $('#wizard').smartWizard('setError', { stepnum: stepnumber, iserror: false });
                }
            }
            return isStepValid;
        }

        function validateStep1() {
            var isValid = true;
            /* Validate Title */
            var title = $("#txtTitle").val();
            if (!title.trim()) {
                isValid = false;
                $('#msg_title').html($("#title").val()).show();
            } else {
                $('#msg_title').html('').hide();
            }
            return isValid;
        }

        function validateAllSteps() {
            var isStepValid = true;
            if (validateStep1() == false) {
                isStepValid = false;
                $('#wizard').smartWizard('setError', { stepnum: 1, iserror: true });
            } else {
                $('#wizard').smartWizard('setError', { stepnum: 1, iserror: false });
            }
            if (!isStepValid) {
                $('#wizard').smartWizard('showMessage', $("#corr").val());
            }
            return isStepValid;
        }
    </script>
}
@section styles{
    <!-- Switchery -->
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- End Switchery -->
    <style>
        .select-layout {
            border-style: dashed;
            border-spacing: 0px;
        }

        #duration {
            position: relative;
            top: -15px;
            left: 0;
            display: inline-block;
            margin-left: 0%;
            width: 20px;
        }

        #title {
            display: inline-block;
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #deleteArea {
            background-color: navajowhite;
            display: inline-block;
        }

        #toList {
            display: inline-block;
            background-color: transparent;
            margin-right: 20px;
        }

        #fromList {
            display: inline-block;
            background-color: transparent;
            margin-right: 20px;
        }

        #preview-warapper {
            background-color: transparent;
        }

        video {
            position: relative;
            width: 350px;
            height: 350px
        }


        #toList li {
            width: 500px;
            height: 40px;
            background-color: aliceblue;
            line-height: 40px;
            cursor: move;
            list-style-type: none;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        #fromList li {
            width: 500px;
            height: 40px;
            background-color: aliceblue;
            line-height: 40px;
            cursor: move;
            list-style-type: none;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dropArea {
            background-color: #fee
        }

        .dropAreaHover {
            background-color: #f00;
        }

        .i-old {
            border-radius: 3px;
        }

        .i-new {
            border: 1px solid red;
            box-shadow: 20px 10px 20px;
        }
    </style>
}






