@model DSS.Models.ScenarioVM
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Chỉnh nút status
    bool status = true;
    if (Model != null)
    {
        status = Model.IsPublic;
    }
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@DSS.ResourcesLanguage.ScenarioUpdateForm.PageHeader</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.ScenarioUpdateForm.PageTitle</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm((Model?.ScenarioId != null) ? "Update" : "Add", "Scenario", new { ScenarioId = (Model?.ScenarioId) }, FormMethod.Post, new { @id = "frm_scenario", @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                @DSS.ResourcesLanguage.ScenarioUpdateForm.LblTitle <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input id="first-name"
                                       name="Title"
                                       class="form-control"
                                       data-parsley-id="5" type="text"
                                       value="@(Model?.Title)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">
                                @DSS.ResourcesLanguage.ScenarioUpdateForm.LblDescription
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <textarea class="form-control" rows="3" name="Description">@(Model?.Description)</textarea>
                                <input type="hidden" value="@(Model?.LayoutId)" name="LayoutId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                @DSS.ResourcesLanguage.ScenarioUpdateForm.LblStatus <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="checkbox" id="cbStatus" name="isPublic" value="true" class="js-switch" @(status ? "checked" : "") /> <span id="spStatus">@(status ? @DSS.ResourcesLanguage.ScenarioUpdateForm.TxtPublic : @DSS.ResourcesLanguage.ScenarioUpdateForm.TxtPrivate)</span>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                <button class="btn btn-primary" type="reset">@DSS.ResourcesLanguage.ScenarioUpdateForm.BtnReset </button>
                                <button type="submit" class="btn btn-success">@DSS.ResourcesLanguage.ScenarioUpdateForm.BtnSubmit </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = @DSS.ResourcesLanguage.ScenarioUpdateForm.TxtPrivate;
            if (this.checked) {
                text = @DSS.ResourcesLanguage.ScenarioUpdateForm.TxtPublic;
            }
            $('#spStatus').text(text);
        });
    </script>
}
