@model DSS.Models.MediaSrcVM
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Chỉnh nút status
    bool status = true;
    if (Model != null)
        {
            status = Model.isActive;
        }
}



<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Media Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@((Model?.MediaSrcId != null) ? "Update Media information" : "Add new Media")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm((Model?.MediaSrcId != null) ? "Update" : "Add", "MediaSrc", new { LocationId = (Model?.MediaSrcId) }, FormMethod.Post, new { @id = "frm_location", @class = "form-horizontal form-label-left", role = "form" , enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Title <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="first-name"
                                       name="Title"
                                       class="form-control col-md-7 col-xs-12"
                                       data-parsley-id="5" type="text"
                                       value="@(Model?.Title)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Status <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="checkbox" id="cbStatus" name="isActive" value="true" class="js-switch" @(status ? "checked" : "") /> <span id="spStatus">@(status ? "Enable" : "Disable")</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Description
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea class="form-control" rows="3" name="Description">@(Model?.Description)</textarea>
                            </div>
                            @*<input type="hidden" name="Id" value="@(Model?.Id)"/>*@
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Select file to upload
                            </label>
                            <br />
                            <br />
                            <br />
                            <div class="file-loading">
                                <input id="file" class="file" type="file" name="file">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section styles {

    <!-- Switchery -->
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">

    <!-- form Upload plugin -->
    <link href="~/Content/form-upload-media/css//fileinput.css" media="all" rel="stylesheet" type="text/css" />

    <link href="~/Content/form-upload-media/themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css" />
}
@section scripts {

    <!-- Switchery -->
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>

    <!-- form Upload plugin -->
    <script src="~/Content/form-upload-media/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/js/locales/fr.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/js/locales/es.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media./themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/themes/fa/theme.js" type="text/javascript"></script>
    @*bỏ nút upload trng input*@
    <script>
        $("#file").fileinput({ 'showUpload': false, 'previewFileType': 'any' });
        $("#file")
    </script>

    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = "Disable";
            if (this.checked) {
                text = "Enable";
            }
            $('#spStatus').text(text);
        });
    </script>




}