@model DSS.Models.MediaSrcVM
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout_Popup.cshtml";
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    //Chỉnh nút status
    bool status = true;
    if (Model != null)
    {
        status = Model.isPublic;
    }
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@((Model?.MediaSrcId != null) ? "Update Media information" : "Add new Media")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm((Model?.MediaSrcId != null) ? "Update" : "Add", "MediaSrc", new { MediaSrcId = (Model?.MediaSrcId) }, FormMethod.Post, new { @id = "frm_mediaSrc", @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.ValidationSummary()
                        //show error - validation
                        <div>
                            <ul class="mylist"></ul>
                        </div>
                        //end show error - validation
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                Title <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input id="first-name" name="Title" class="form-control" data-parsley-id="5" type="text" value="@(Model?.Title)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                Status <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="checkbox" id="cbStatus" name="isPublic" value="true" class="js-switch" @(status ? "checked" : "") /> <span id="spStatus">@(status ? "Public" : "Private")</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">
                                Description
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <textarea class="form-control" rows="3" name="Description">@(Model?.Description)</textarea>
                            </div>
                        </div>
                        if (Model?.MediaSrcId == null)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Select file to upload <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="hidden" name="URL" id="txtMediaURL" value="@(Model?.URL)"/>
                                    <input type="hidden" name="Filename" id="txtFilename"/>
                                    <input type="hidden" name="Duration" id="txtDuration"/>
                                    <input type="button" id="btnChange" value="Upload media" />
                                    @*<input type="button" id="btnClose" value="Close" />*@
                                    <div id="review_container"></div>
                                    <script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
                                </div>
                            </div>
                        }
                        <div class="ln_solid"></div>
                        if (Model?.MediaSrcId == null)
                        {
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="button" onclick="checkValidation()" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                    <button type="button" class="btn btn-warning" onclick="parent.jQuery.fn.colorbox.close();">Cancel</button>
                                    <button type="button" onclick="checkValidation()" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <!--Validation-->
    <script>
        function checkValidation() {
            $(".mylist").empty();
            var stringError = [];
            if ($('#first-name').val() == '') {
                stringError.push("Please input title.");
            }
            if ($('#txtMediaURL').val() == '') {
                stringError.push("Please choose file to upload.");
            }
            if (stringError.length > 0) {
                var cList = $('ul.mylist')
                $.each(stringError, function (i) {
                    var li = $('<li/>')
                        .addClass('ui-menu-item')
                        .attr('role', 'menuitem')
                        .appendTo(cList);
                    var aaa = $('<a/>')
                        .addClass('ui-all')
                        .text(stringError[i])
                        .css('color', 'red')
                        .appendTo(li);
                });
            } else {
                $("#frm_mediaSrc").submit();
            }
        }
    </script>
    <!-- End Validation-->
    <!-- Switchery -->
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
    <!-- End Switchery -->
    <!-- form Upload plugin -->
    <script src="~/Content/form-upload-media/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/js/locales/fr.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/js/locales/es.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media./themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="~/Content/form-upload-media/themes/fa/theme.js" type="text/javascript"></script>
    <!--End form Upload plugin -->
    <!--remove upload button in input file-->
    <script>
        $("#file").fileinput({ 'showUpload': false, 'previewFileType': 'any' });
    </script>
    <!--End remove upload button in input file-->
    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = "Private";
            if (this.checked) {
                text = "Public";
            }
            $('#spStatus').text(text);
        });
    </script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const apikey = 'AtM1mPjxxQviwhQOqcFKdz';
            const client = filestack.init(apikey);
            const options = {
                //displayMode: 'inline',
                //container: '#picker_container',
                maxFiles: 1,
                fromSources: ['local_file_system', 'url', 'imagesearch'],
                uploadInBackground: false,
                onOpen: () => console.log('opened picker!'),
                onUploadDone: (res) => uploadDoneCallBack(res),
            };
            var picker = client.picker(options);
            //picker.open();
            function uploadDoneCallBack(res) {
                var oldUrl = $("#txtMediaURL").val();
                var oldHandle = oldUrl.replace("https://cdn.filestackcontent.com/","");
                var url = res.filesUploaded[0].url;
                var filename = res.filesUploaded[0].filename;
                var mimetype = res.filesUploaded[0].mimetype;
                var handle = res.filesUploaded[0].handle;
                $("#txtMediaURL").val(url);
                $("#txtFilename").val(filename);
                $("#btnChange").val("Change media");
                $("#review_container").children().remove().end();
                /*Change control base on mime type*/
                if (mimetype.toLowerCase().indexOf("image") >= 0) {
                    $("#review_container").append("<img src='https://cdn.filestackcontent.com/resize=height:250/" + handle + "' alt='Preview-loading'/>");
                } else {
                    $("#review_container").append("<video controls='controls' id='reviewVideo' style='height: 250px; width: 300px'>"
                        + "<source src='" + url + "' type ='" + mimetype + "'/>"
                        + "</video>");
                    $("#reviewVideo")[0].onloadedmetadata(function () {
                    });
                    console.log($("#reviewVideo")[0].duration);
                }
                if (oldHandle != "") {
                    /*Delete previous uploaded file*/
                    var policy = "eyJjYWxsIjpbInJlbW92ZSJdLCJleHBpcnkiOjE1MzU2NTAyMDB9";                    
                    var signature = "3fee6bb7be4e7088b3e7d1b665f589cb5332eecedd19803f9b0fe4ba353de952";
                    var delUrl = "https://www.filestackapi.com/api/file/" + oldHandle + "?key=" + apikey + "&policy=" + policy + "&signature=" + signature;
                    console.log(delUrl);
                    $.ajax({
                        type: "DELETE",
                        url: delUrl,
                        success: function (res) {
                            console.log(res);
                        }
                    });
                }                
            }
            btnChange.addEventListener('click', () => picker.open());
            //btnClose.addEventListener('click', () => picker.close());
        });
    </script>
    <!-- End Switchery Change Status Text-->
}
@section styles {
    <!--Set color is red when show error validation-->
    <style>
        .validation-summary-errors {
            color: red;
        }
    </style>
    <!--End Set color is red when show error validation-->
    <!-- Switchery -->
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- End Switchery -->
    <style>
        /* change picker appearance  */
        .fsp-picker {
            background: rgba(0,0,0,.288) !important;
        }

            /* update styles for drop area */
            .fsp-picker .fsp-drop-area {
                background: rgba(0,0,0,.03);
                border-radius: 0;
            }

            /* customize picker modal  */
            .fsp-picker .fsp-modal {
                background: #fff;
                border-radius: 0;
                border: none;
                box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12)
            }

            .fsp-picker .fsp-header {
                color: rgba(0,0,0,.54);
            }

            .fsp-picker .fsp-url-source__input,
            .fsp-picker .fsp-url-source__submit-button {
                border: none;
                border-radius: 0;
                height: 30px;
                border-bottom: 1px solid #2e68fb;
            }

                .fsp-picker .fsp-url-source__input:focus {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #2e68fb;
                }

            .fsp-picker .fsp-url-source__submit-button {
                width: 30px;
                border: 1px solid #2e68fb;
                padding: 0;
            }
    </style>
}