@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>General</h2>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bs-glyphicons" style="width:60%; margin-left: 40%;">
                    <a href="/MediaSrc/Form" class="iframe">
                        <ul class="bs-glyphicons-list">
                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" text-align:center></span>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_image" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Image</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_video" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Video</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_audio" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Audio</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_ortherfile" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Order File</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_image" aria-labelledby="home-tab">
                            <p>
                                <h2>Image Manager</h2>
                                <div class="x_content">
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Preview</th>
                                                <th>Description</th>
                                                <th style="text-align: center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var mediaSrcList = ViewBag.mediaSrcList as List<DSS.Models.MediaSrcUseVM>;
                                                var i = 0;
                                                foreach (var item in mediaSrcList)
                                                {
                                                    if (item.TypeId == 1)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" id="check-all" class="flat"></td>
                                                            <td>@(++i)</td>
                                                            <td>@(item.Title)</td>
                                                            <td>@(item.isActive ? "Enable" : "Disable")</td>
                                                            <td><img src="@(item.URL)" style="max-width: 200px;"></td>
                                                            <td>@(item.Description)</td>
                                                            <td style="width:180px; text-align:center">
                                                                <a href="/MediaSrc/Form/@(item.MediaSrcId)"><i class="fa fa-pencil btn btn-info"> Edit</i></a>
                                                                <a href="/MediaSrc/Delete/@(item.MediaSrcId)"><i class="fa fa-trash btn btn-danger"> Delete</i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_video" aria-labelledby="profile-tab">
                            <p>
                                <h2>Video Manager</h2>
                                <div class="x_content">
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Description</th>
                                                <th style="text-align: center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var j = 0;
                                                foreach (var item in mediaSrcList)
                                                {
                                                    if (item.TypeId == 2)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" id="check-all" class="flat"></td>
                                                            <td>@(++j)</td>
                                                            <td>@(item.Title)</td>
                                                            <td>@(item.isActive ? "Enable" : "Disable")</td>
                                                            <td>@(item.Description)</td>
                                                            <td style="width:300px; text-align:center">
                                                                <a href="/MediaSrc/Form/@(item.MediaSrcId)"><i class="fa fa-pencil btn btn-info"> Edit</i></a>
                                                                <a href="/MediaSrc/Delete/@(item.MediaSrcId)"><i class="fa fa-trash btn btn-danger"> Delete</i></a>
                                                                <a class="custom" data-flashy-type="video" href="https://www.youtube.com/watch?v=KfxJbYg5SXs">
                                                                    <i class="fa fa-caret-square-o-right btn btn-success"> Preview</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_audio" aria-labelledby="profile-tab">
                            <p>
                                <h2>Audio Manager</h2>
                                <div class="x_content">
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Description</th>
                                                <th>Preview</th>
                                                <th style="text-align: center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var k = 0;
                                                foreach (var item in mediaSrcList)
                                                {
                                                    if (item.TypeId == 3)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" id="check-all" class="flat"></td>
                                                            <td>@(++k)</td>
                                                            <td>@(item.Title)</td>
                                                            <td>@(item.isActive ? "Enable" : "Disable")</td>
                                                            <td>@(item.Description)</td>
                                                            <td>
                                                                <audio controls>
                                                                    <source src="@(item.URL)" type="audio/mpeg">
                                                                </audio>
                                                            </td>
                                                            <td style="width:180px; text-align:center">
                                                                <a href="/MediaSrc/Form/@(item.MediaSrcId)"><i class="fa fa-pencil btn btn-info"> Edit</i></a>
                                                                <a href="/MediaSrc/Delete/@(item.MediaSrcId)"><i class="fa fa-trash btn btn-danger"> Delete</i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_ortherfile" aria-labelledby="profile-tab">
                            <p>
                                <h2>Order File Manager</h2>
                                <div class="x_content">
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Description</th>
                                                <th style="text-align: center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var f = 0;
                                                foreach (var item in mediaSrcList)
                                                {
                                                    if (item.TypeId == 4)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" id="check-all" class="flat"></td>
                                                            <td>@(++f)</td>
                                                            <td>@(item.Title)</td>
                                                            <td>@(item.isActive ? "Enable" : "Disable")</td>
                                                            <td>@(item.Description)</td>
                                                            <td style="width:180px; text-align:center">
                                                                <a href="/MediaSrc/Form/@(item.MediaSrcId)" class="iframe"><i class="fa fa-pencil btn btn-info"> Edit</i></a>
                                                                <a href="/MediaSrc/Delete/@(item.MediaSrcId)"><i class="fa fa-trash btn btn-danger"> Delete</i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <!-- preview button scripts-section -->
    <script type="text/javascript" src="~/Content/index-media-preview-video/src/jquery.flashy.min.js"></script>
    <script type="text/javascript" src="~/Content/index-media-preview-video/js/main.js"></script>
    <!-- /end scripts-section -->
    <!-- iframe button matching-->
    <script src="~/Content/form-matching-device/jquery.colorbox.js"></script>
    <script>
        $(document).ready(function () {
            //Examples of how to assign the Colorbox event to elements
            $(".iframe").colorbox({
                iframe: true, width: "80%", height: "80%",
                //refresh page when summit
                onClosed: function () { location.reload(true); },
            });
            //Example of preserving a JavaScript event for inline calls.
            $("#click").click(function () {
                $('#click').css({ "background-color": "#f00", "color": "#fff", "cursor": "inherit" }).text("Open this window again and this message will still be here.");
                return false;
            });
        });
    </script>
    <!-- end iframe button matching-->
}

@section styles{
    <!-- preview button css -->
    <link rel="stylesheet" type="text/css" href="~/Content/index-media-preview-video/css/effect.css">
    <link rel="stylesheet" type="text/css" href="~/Content/index-media-preview-video/src/flashy.min.css">
    <!-- /end css -->
    <!-- iframe button matching-->
    <link rel="stylesheet" href="~/Content/form-matching-device/colorbox.css" />
    <!-- end iframe button matching-->
    <!--button add-->
    <link href="~/Content/button-add/css/custom.min.css" rel="stylesheet">
    <!-- End button add-->
}