@{
                /**/

                ViewBag.Title = "Detail";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@DSS.ResourcesLanguage.PlaylistDetails.PageHeader</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.PlaylistDetails.PageTitleDetail</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm("UpdateDetail", "Playlist", new { Id = (Model?.Id) }, FormMethod.Post, new { @id = "frm_playlist", @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        <div class="stepContainer">
                            <ul id="namelist">
                                @{
                                    var playlistItemList = ViewBag.playlistItemList as List<DSS.Models.PlaylistItemVM>;
                                    var i = 0;
                                    foreach (var item in playlistItemList)
                                    {
                                        <span class="media-datas" style="visibility:hidden" data-url="@(item.URL)" data-type="@(item.mediaType)"></span>
                                        <li id='i_@(++i)' class="i-old" data-value="@(item.playlistItemId)">
                                            <span id="title">@(item.mediaSrcTitle)</span>
                                            <span id="duration">@(item.duration)</span>
                                            <input type="button" style="position:relative; top: -15px; left:100px; margin-left:-10%" class="btn btn-danger" value="Delete" />
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <hr />
                        <div style="position:sticky; top:0; left:0 ">
                            <input class="btn btn-primary" style="margin-left:35%" type="button" value=@DSS.ResourcesLanguage.PlaylistDetails.BtnReset onClick="window.location.href=window.location.href">
                            <input class="btn btn-success" style="margin-left:0" type="submit" value="@DSS.ResourcesLanguage.PlaylistDetails.BtnSave" />
                            @*<button style="margin-left:2%" type="submit" class="btn btn-success">Submit</button>*@
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.PlaylistDetails.PageTitlePreview</h2>
                    <input id="playAll" class="btn btn-success" style="margin-left:200px" type="button" value="Play All" />
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="preview-warapper" style="display:inline-block">
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="/Content/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        $("#namelist").sortable({
            connectWith: '#deleteArea',
            update: function (event, ui) {
                //Run this code whenever an item is dragged and dropped out of this list
                var order = $(this).sortable('serialize');
            },
            helper: 'clone'
        });
        $("#deleteArea").droppable({
            accept: '#namelist > li',
            activeClass: 'dropArea',
            hoverClass: 'dropAreaHover',
            drop: function (event, ui) {
                ui.draggable.remove();
            }
        });
    </script>
    <!--Show preview-->
    <script>
        $("#namelist li").click(function () {
            $('#preview-warapper').empty();
            var data = {
                id: $(this).attr('data-value'),
            };
            $.ajax({
                type: "POST",
                url: "/Playlist/CheckTypeMediaSrcInPlaylist",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.mediaType == 1) {
                        $('#preview-warapper').prepend($('<img>', { id: 'theImg', src: data.mediaURL }));
                        $("#theImg").css('height', '350px');
                        $("#theImg").css('width', '350px');
                        $("#preview-warapper").css('margin-left', '100px');
                    } else if (data.mediaType == 2) {
                        $("#preview-warapper").css('margin-left', '100px');
                        var video = $('<video />', {
                            id: 'video',
                            src: data.mediaURL,
                            type: 'video/mp4',
                            controls: true
                        });
                        console.log(video);
                        console.log(video.duration);
                        video.appendTo($('#preview-warapper'));
                        video[0].play();
                    } else if (data.mediaType == 3) {
                        $("#preview-warapper").css('margin-left', '100px');
                        var audio = $('<audio />', {
                            id: 'audio',
                            src: data.mediaURL,
                            type: 'audio/mp3',
                            controls: true
                        });
                        audio.appendTo($('#preview-warapper'));
                        audio[0].play();
                    } else if (data.mediaType == 4) {
                        $.get(data.mediaURL, function (data) {
                            var lines = data.split("\n");
                            $.each(lines, function (n, elem) {
                                $('#preview-warapper').append('<div>' + elem + '</div>');
                            });
                        });
                        $("#preview-warapper").css('margin-left', '10px');
                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        });
    </script>
    <!--End Show preview-->
    @*<!--Show all preview-->
        <script>
            $("#playAll").on('click', function () {
                var time = 0;
                $('.media-datas').each(function () {
                    $('#preview-warapper').empty();
                    var type = $(this).attr('data-type');
                    var url = $(this).attr('data-url');
                    if (type == 1) {
                        $('#preview-warapper').prepend($('<img>', { id: 'theImg', src: url }));
                        $("#theImg").css('height', '350px');
                        $("#theImg").css('width', '350px');
                        $("#preview-warapper").css('margin-left', '100px');
                    } else if (type == 2) {
                        $("#preview-warapper").css('margin-left', '100px');
                        var video = $('<video />', {
                            id: 'video',
                            src: url,
                            type: 'video/mp4',
                            controls: true
                        });
                        video.appendTo($('#preview-warapper'));
                        video[0].play();
                    } else if (type == 3) {
                        $("#preview-warapper").css('margin-left', '100px');
                        var audio = $('<audio />', {
                            id: 'audio',
                            src: url,
                            type: 'audio/mp3',
                            controls: true
                        });
                        audio.appendTo($('#preview-warapper'));
                        audio[0].play();
                    } else if (type == 4) {
                        $.get(url, function (data) {
                            var lines = data.split("\n");
                            $.each(lines, function (n, elem) {
                                $('#preview-warapper').append('<div>' + elem + '</div>');
                            });
                        });
                        $("#preview-warapper").css('margin-left', '10px');
                    }
                });
            });
        </script>
        <!--End Show all preview-->*@
    <!--Show all preview-->
    <script type="text/javascript" src="~/Content/HTML5Gallery/html5gallery.js"></script>
    <script>
        $("#playAll").on('click', function () {
            var divPreview = $('#preview-warapper');
            divPreview.empty();
            var url = [];
            $('.media-datas').each(function () {
                url.push($(this).attr('data-url'));
            });
            divPreview.addClass("html5gallery");
            divPreview.attr({ "data-skin": "darkness", "data-width": "480", "data-height": "272", "data-resizemode": "fill" });
            if (url.length > 0) {
                for (var i = 0; i < url.length; i++) {
                    divPreview.append("<p><a href=" + url(i) + "></a></p>");
                }
            }          
        });
    </script>
    <!--End Show all preview-->
}

@section styles{
    <style>
        .stepContainer {
            max-height: 315px;
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            border: 0 solid #CCC;
            overflow-x: hidden;
        }

        .i-old {
            border-radius: 3px;
        }

        .i-new {
            border: 1px solid red;
            box-shadow: 20px 10px 20px;
        }

        #duration {
            position: relative;
            top: -15px;
            left: 0;
            display: inline-block;
            margin-left: 5%;
            width: 20px;
        }

        #title {
            display: inline-block;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #deleteArea {
            background-color: navajowhite;
            display: inline-block;
        }

        #namelist {
            display: inline-block;
            background-color: transparent;
            margin-right: 20px;
        }

        #preview-warapper {
            margin-left: 100px;
            box-shadow: 20px 10px 20px;
            background-color: transparent;
        }

        video {
            position: relative;
            width: 350px;
            height: 350px
        }

        #namelist li {
            width: 500px;
            height: 40px;
            background-color: aliceblue;
            line-height: 40px;
            cursor: move;
            list-style-type: none;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dropArea {
            background-color: #fee
        }

        .dropAreaHover {
            background-color: #f00;
        }
    </style>
}



