@model DSS.Models.PlaylistCRUDVM
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Chỉnh nút status
    bool status = true;
    if (Model != null)
    {
        status = Model.isPublic;
    }
}

<div class="" role="main" style="min-height: 1207px;width:inherit">
    <div style="width:1230px;margin-right:1000px">
        <div class="page-title">
            <div class="title_left">
                <h3>Playlist</h3>

            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-8 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Playlist editor<small>You can edit playlist right here</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--show error - validation-->
                        <div>
                            <ul class="mylist"></ul>
                        </div>
                        <!--end show error - validation-->
                        <!-- Smart Wizard -->
                        <p>Playlist contents</p>
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps anchor">
                                <li>
                                    <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#step-1" class="selected" isdone="1" rel="1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            @((Model?.Id != null) ? "Enter Info" : @DSS.ResourcesLanguage.ScenarioAddForm.TxtStep1)<br>
                                            <small>Playlist information</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://colorlib.com/polygon/gentelella/form_wizards.html#step-2" class="disabled" isdone="0" rel="2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            @DSS.ResourcesLanguage.ScenarioAddForm.TxtStep2<br>
                                            <small>Playlist details</small>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="stepContainer" style="height:auto">
                                @using (Html.BeginForm((Model?.Id != null) ? "Update" : "Add", "Scenario", new { Id = (Model?.Id) }, FormMethod.Post, new { @id = "frm_playlist", @class = "form-horizontal form-label-left", role = "form" }))
                                {
                                    <div id="step-1" class="content" style="display: block;">
                                        <input type="hidden" id="playlistId" name="Id" value="@(Model?.Id)" />
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                @DSS.ResourcesLanguage.PlaylistAddForm.LblTitle <span class="required">*</span> <br />
                                                <span id="msg_title" style="color:red"></span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" value="@(Model?.Title)" id="txtTitle" required="required" class="form-control col-md-7 col-xs-12" name="Title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                @DSS.ResourcesLanguage.PlaylistAddForm.LblVisualType <span class="required">*</span>
                                                <span id="msg_visualType" style="color:red"></span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <select name="VisualTypeID" class="select2_multiple form-control" id="VisualType">
                                                    <option value="-1">--- @DSS.ResourcesLanguage.PlaylistAddForm.TxtVisualTypeDefault ---</option>
                                                    @{
                                                        var visualTypeList = ViewBag.visualTypeList as List<DSS.Models.VisualTypeVM>;
                                                        foreach (var item in visualTypeList)
                                                        {
                                                            <option value="@(item.VisualTypeID)" @((Model?.VisualTypeName)?.CompareTo(item.VisualTypeName) == 0 ? "selected" : "")>@(item.VisualTypeName)</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.LblStatus <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <input type="checkbox" id="cbStatus" name="isPublic" value="true" class="js-switch" @(status ? "checked" : "") /> <span id="spStatus">@(status ? DSS.ResourcesLanguage.ScenarioAddForm.TxtPublic : DSS.ResourcesLanguage.ScenarioAddForm.TxtPrivate)</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-3">
                                                @DSS.ResourcesLanguage.ScenarioAddForm.LblDescription
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <textarea class="form-control" rows="3" name="Description">@(Model?.Description)</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-2" class="content" style="display: none;">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>@DSS.ResourcesLanguage.PlaylistDetails.PageTitlePreview</h2>
                                                    <input id="playAll" class="btn btn-success" style="margin-left:200px" type="button" value="Play All" />
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div id="preview-warapper" style="display:inline-block;height:370px;width:570px;align-content:center">
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>Resource Information</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                            @DSS.ResourcesLanguage.ScenarioAddForm.LblTitle:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12" id="titleInfo">
                                                            CoCa CoLa
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                            @DSS.ResourcesLanguage.ScenarioAddForm.LblDescription:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12" id="descriptionInfo">
                                                            Good video
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                                                            @DSS.ResourcesLanguage.ScenarioAddForm.LblDuration:
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-6" id="durationInfo">
                                                            <input id="imgDuration" type="text" class="time" disabled="disabled" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="x_panel" style="height:470px">
                                                <div class="x_title">
                                                    <h2>Playlist contents</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <ul id="toList" style="height:350px" class="stepContainer"></ul>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="x_panel" style="height:400px">
                                                <div class="x_title">
                                                    <h2>Your resources</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <ul id="fromList" style="height:350px" class="stepContainer"></ul>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@DSS.ResourcesLanguage.MediaSrcAddForm.TxtPublic" id="public" />
<input type="hidden" value="@DSS.ResourcesLanguage.MediaSrcAddForm.TxtPrivate" id="private" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.InUse" id="use" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.CantSentReq" id="req" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.IfDelete" id="if" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Sure" id="sure" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.notbeable" id="able" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.YesDelete" id="yes" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.NoCancel" id="cancel" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted1" id="deleted1" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted" id="deleted" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.error" id="error" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Canceled" id="canceled" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Filesafe" id="safe" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.PlsArea" id="area" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.PlsCorrect" id="corr" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Next" id="next" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Title" id="title" />
@section scripts{
    <!--Validation-->
    <script src="/Content/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- End Switchery Change Status Text-->
    <!-- Switchery -->
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
    <!-- End Switchery -->
    <script>
        $(function () {
            $('#imgDuration').timepicker({
                'timeFormat': 'H:i:s',
                'step': 1
            });
        });
    </script>
    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = "Private";
            if (this.checked) {
                text = "Public";
            }
            $('#spStatus').text(text);
        });
    </script>
    <!-- Switchery -->
    <script src="/Content/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/duration-picker/jquery.timepicker.min.js"></script>
    <script>
        $("#toList").sortable({
            connectWith: '#deleteArea',
            update: function (event, ui) {
                //Run this code whenever an item is dragged and dropped out of this list
                var order = $(this).sortable('serialize');
            },

        });
    </script>
    <!--Play all preview-->
    <script>
        $("#playAll").on('click', function () {
            $('#preview-warapper').empty();
            var time = 0;
            $('#toList').find('li').each(function (i) {
                var type = parseInt($(this).attr('data-type'));
                var url = $(this).attr('data-url');
                var currItemDuration = parseInt($(this).attr('data-duration'));
                var duration = (currItemDuration == 0) ? 5000 : currItemDuration * 1000;
                setTimeout(show, time, url, type, title, duration);
                time += duration;
                function show(url, type, title, duration) {
                    $('#preview-warapper').empty();
                    $('#hideMsg').show();
                    switch (type) {
                        case 1:
                            $('#preview-warapper').prepend($('<img>', { id: 'theImg', src: url }));
                            $("#theImg").css('height', '350px');
                            $("#theImg").css('width', '350px');
                            $("#preview-warapper").css('margin-left', '100px');
                            break;
                        case 2:
                            $("#preview-warapper").css('margin-left', '100px');
                            var video = $('<video />', {
                                id: 'video',
                                src: url,
                                type: 'video/mp4',
                                controls: true
                            });
                            video.appendTo($('#preview-warapper'));
                            video[0].play();
                            //video.bind("ended", function () {
                            //    alert("done video");
                            //});
                            break;
                        case 3:
                            $("#preview-warapper").css('margin-left', '100px');
                            var video = $('<video />', {
                                id: 'video',
                                src: url,
                                type: 'video/mp4',
                                controls: true
                            });
                            video.appendTo($('#preview-warapper'));
                            video[0].play();
                            //video.bind("ended", function () {
                            //    alert("done video");
                            //});
                            break;
                    }
                }
            });
        });
    </script>
    <!--End Show all preview-->
    <script>
        var AddedElements = {};
        /*Get duration value from iframe*/
        window.addEventListener('message', function (e) {
            var $iframe = $('.iframe');
            var eventName = e.data[0];
            var data = JSON.parse(e.data[1]);
            var mediaSrcId = data.mediaSrcId;
            var duration = data.duration;
            AddedElements[mediaSrcId] = duration;
        }, false);
        function submitFunction() {
            $("#toList").find("li").each(function () {
                var ItemId = $(this).attr('data-id');
                var Duration = $(this).attr('data-duration');
                if (AddedElements[ItemId] == null) {
                    AddedElements[ItemId] = Duration;
                }
            });
            var other_data = $('#frm_playlist').serializeArray();
            var data = {
                AddedElements: [],
            };
            $.each(other_data, function (key, input) {
                data[input.name] = input.value;
            });
            $.each(AddedElements, function (index, value) {
                var obj = {
                    "ItemId": index,
                    "ItemDuration": value,
                };
                data["AddedElements"].push(obj);
            });
            var playlistId = $("#playlistId").val();
            var url = playlistId == '' ? "/AdvancedPlaylist/Add" : "/AdvancedPlaylist/Update";
            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (res) {
                    if (res.success) {
                        location.href = res.url;
                    } else {
                        alert("500: Server error!");
                    }
                },
                error: function () {
                    alert($("#req").val());
                }
            });
        };
    </script>
    <script>
        function swapVideo(id, el) {
            var allListItem = document.querySelectorAll('#toList li');
            for (var item of allListItem) {
                if (item.getAttribute('id') == id) {
                    item.classList.add('i-new');
                    item.classList.remove('i-old');
                } else {
                    item.classList.add('i-old');
                    item.classList.remove('i-new');
                }
            }
            var firstBtn = document.querySelector(`#${id} .btn-success`);
            player.src = firstBtn.getAttribute("data-video-url");
            player.load();
            player.play();
        }
        var videoPlayButtons = document.querySelectorAll("button"),
            player = document.getElementById("player");
    </script>
    <script>
        ///*Get file list base on Visual Type*/
        $("#VisualType").change(function () {
            var selected = $(this).find(":selected").val();
            CatchVisualType(selected);
        })
        function CatchVisualType(selected) {
            var playlistId = $("#playlistId").val();
            if (playlistId == "") {
                resetChooseMedia();
            }
            if (selected == 1) {
                GetFileBaseOnFileType(['1', '2']);
            } else if (selected == 2) {
                GetFileBaseOnFileType(['3']);
            } else if (selected == 3) {
                GetFileBaseOnFileType(['4']);
            } else {
                GetFileBaseOnFileType([]);
            }
        }
        /*Get file list base on file type*/
        $("input:checkbox[name='fileType']").change(function () {
            var values = [];
            $("input:checkbox[name='fileType']:checked").each(function () {
                values.push($(this).val());
            });
            GetFileBaseOnFileType(values);
        });
        /*Reset MediaSrc choose*/
        function resetChooseMedia() {
            $("#fromList").find("li").each(function () {
                $(this).show();
            });
            $("#toList").empty();
            $('#preview-warapper').empty();
        }
        /*Show File in Type array, hide the others*/
        function GetFileBaseOnFileType(showFileTypes) {
            $("#fromList").find("li").each(function () {
                var type = $(this).attr("data-type");
                if ($.inArray(type, showFileTypes) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>
    <script>
        var ResourceList = {};
        var PlaylistItemObj = [];
        $(document).ready(function () {
            loadResourceList();
        });
        function loadResourceList() {
            var data = {
            };
            $.ajax({
                type: "POST",
                url: "/AdvancedPlaylist/LoadResourceList",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    ResourceList = data.ResourceList;
                    //showAllResources();
                },
                error: function () {
                    alert($("#error").val())
                }
            }).done(function () {
                renderStep2();
            });
        }
        function showAllResources() {
            for (var i = 0; i < ResourceList.length; i++) {
                if (ResourceList[i] != '') {
                    $('#fromList').append("<li class='playlistList' onclick='resourceClick(this)' id='fromList_" + ResourceList[i].MediaSrcId + "' data-id='" + ResourceList[i].MediaSrcId + "' "
                        + "data-type='" + ResourceList[i].TypeId + "'"
                        + "data-url='" + ResourceList[i].URL + "'"
                        + "data-duration='" + 0 + "'"
                        + ">"
                        + "<span id='title'>" + ResourceList[i].Title + "</span>"
                        + "<a onclick='addToPlaylist(this)' style='position:relative; top:-15px; left:0; margin-left:60%' class='btn btn-success btnAddPlaylist' data-video-url='/Content/videos/Relax.mp4'> + </a>"
                        + "</li>");
                }
            }
        }
        function renderStep2() {
            var playlistId = $("#playlistId").val();
            var data = {
                playlistId: playlistId,
            };
            if (!playlistId) {
                renderMediaSrcList([]);
            } else {
                $.ajax({
                    type: "POST",
                    url: "/AdvancedPlaylist/LoadPlaylistItemIds",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        renderMediaSrcList(data.PlaylistItemIds);
                    },
                    error: function () {
                        alert($("#error").val())
                    }
                });
            }
        }
        function renderMediaSrcList(PlaylistItemIds) {
            $("#fromList").find('li').remove().end();
            $("#toList").find('li').remove().end();
            /*Load playlist list*/
            for (var i = 0; i < ResourceList.length; i++) {
                if (ResourceList[i] != '') {
                    var isShow = !isInArray(ResourceList[i].MediaSrcId, PlaylistItemIds);
                    var style = isShow ? "" : " style='display: none' ";
                    console.log(ResourceList[i].Title + "  " + style);
                    $('#fromList').append("<li class='ResourceList' onclick='resourceClick(this)' id='fromList_" + ResourceList[i].MediaSrcId + "' data-id='" + ResourceList[i].MediaSrcId + "'"
                        + "data-marked='true'"
                        + style
                        + "data-type='" + ResourceList[i].TypeId + "'"
                        + "data-url='" + ResourceList[i].URL + "'"
                        + "data-duration='" + 0 + "'"
                        + ">"
                        + "<span id='title'>" + ResourceList[i].Title + "</span>"
                        + "<a onclick='addToPlaylist(this)' style='position:relative; top:-15px; left:0; margin-left:60%' class='btn btn-success btnAddPlaylist' data-video-url='/Content/videos/Relax.mp4'> + </a>"
                        + "</li>");
                    if (!isShow) {
                        $('#toList').append("<li class='ResourceList' onclick='resourceClick(this)' id='fromList_" + ResourceList[i].MediaSrcId + "' data-id='" + ResourceList[i].MediaSrcId + "' "
                            + "data-type='" + ResourceList[i].TypeId + "'"
                            + "data-url='" + ResourceList[i].URL + "'"
                            + "data-duration='" + 0.5 + "'"
                            + ">"
                            + "<span id='title'>" + ResourceList[i].Title + "</span>"
                            //+ "<span id='duration'>" + ResourceList[i].Duration + "</span>"
                            + "<a onclick='removeItem(this)' style='position:relative; top:-15px; left:0; margin-left:60%' class='btn btn-danger btnRemovePlaylist'> - </a>"
                            + "</li>");
                    }
                }
            }
            var selected = $("#VisualType").find(":selected").val();
            setTimeout(CatchVisualType, 0, selected);
        }
        function isInArray(value, array) {
            return array.indexOf(value) > -1;
        }

        /*Add Resource to Playlist*/
        function addToPlaylist(el) {
            var liObjOrigin = $(el).parent()[0];
            var liObj = $(liObjOrigin).clone().appendTo("#toList");
            var playlistId = parseInt($(liObj).attr("data-id"));
            PlaylistItemObj.push(playlistId);
            $(liObj).children('a').attr('class', "btn btn-danger btnRemovePlaylist");
            $(liObj).children('a').attr('onclick', "removeItem(this);");
            $(liObj).children('a').text(" - ");
            $(el).parent().hide();
        };
        /*Remove Resource from Playlist*/
        function removeItem(el) {
            var id = $(el).parent().attr("id");
            var playlistId = parseInt($(el).parent().attr("data-id"));
            $('#fromList').find("#" + id).show();
            $(el).parent().remove();
            PlaylistItemObj = jQuery.grep(PlaylistItemObj, function (value) {
                return value != playlistId;
            });
        }
        var currentSelectedEl;
        /*Marked and show info when click on Resource*/
        /*Allow to modify duration*/
        function resourceClick(el) {
            currentSelectedEl = el;
            /*Mark*/
            $("ul > li").css("border", "none");
            $(el).css("border", "solid");
            /*Show info*/
            var data = {
                mediaSrcId: $(el).attr("data-id"),
            };
            $.ajax({
                type: "POST",
                url: "/AdvancedPlaylist/LoadMediaSrcInfo",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#titleInfo").html(data.Title);
                    $("#descriptionInfo").html(data.Description);
                    $("#txtDuration").val(data.Duration);
                },
                error: function () {
                    $("#titleInfo").html("###");
                    $("#descriptionInfo").html("###");
                    $("#durationInfo").html("###");
                }
            });
            /*Play resource on review wrapper*/
            playMediaToReview(el);
            /*Allow to modify duration*/
            if ($(el).attr("data-type") == "1") {
                $("#imgDuration").removeAttr('disabled');
                var duration = $(el).attr('data-duration') != "" ? $(el).attr('data-duration') : "00:00:00";
                $("#imgDuration").val(duration);
            } else {
                $("#imgDuration").attr('disabled', 'disabled');
            }
        };

        $("#imgDuration").change(function () {
            var durationVal = $("#imgDuration").val();
            $(currentSelectedEl).attr("data-duration", durationVal);
        });

        function playMediaToReview(el) {
            $('#preview-warapper').empty();
            var data = {
                id: $(el).attr('data-id'),
            };
            $.ajax({
                type: "POST",
                url: "/AdvancedPlaylist/CheckTypeMediaSrcInPlaylist",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.mediaType == 1) {
                        $('#preview-warapper').prepend($('<img>', { id: 'theImg', src: data.mediaURL }));
                        $("#theImg").css('height', '350px');
                        $("#theImg").css('width', '350px');
                        $("#preview-warapper").css('margin-left', '100px');
                    } else if (data.mediaType == 2) {
                        $("#preview-warapper").css('margin-left', '100px');
                        var video = $('<video />', {
                            id: 'video',
                            src: data.mediaURL,
                            type: 'video/mp4',
                            controls: true
                        });
                        video.appendTo($('#preview-warapper'));
                        video[0].play();
                        video.bind("ended", function () {
                            alert("I'm done!");
                        });
                    } else if (data.mediaType == 3) {
                        $("#preview-warapper").css('margin-left', '100px');
                        var audio = $('<audio />', {
                            id: 'audio',
                            src: data.mediaURL,
                            type: 'audio/mp3',
                            controls: true
                        });
                        audio.appendTo($('#preview-warapper'));
                        audio[0].play();
                    } else if (data.mediaType == 4) {
                        $.get(data.mediaURL, function (data) {
                            var lines = data.split("\n");
                            $.each(lines, function (n, elem) {
                                $('#preview-warapper').append('<div>' + elem + '</div>');
                            });
                        });
                        $("#preview-warapper").css('margin-left', '10px');
                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        }
        $('#wizard').smartWizard({
            onLeaveStep: leaveAStepCallback, //Tắt check validation chuyển step
            onFinish: onFinishCallback
        });

        function leaveAStepCallback(obj, context) {
            return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation
        }

        /* Submit Form Data on Finish*/
        function onFinishCallback(objs, context) {
            if (validateAllSteps()) {
                $('#frm_playlist').submit(function (event) {
                    alert("fdfd submit");
                });
            }
        }

        // Your Step validation logic
        function validateSteps(stepnumber) {
            var isStepValid = true;
            // validate step 1
            if (stepnumber == 1) {
                if (validateStep1() == false) {
                    isStepValid = false;
                    $('#wizard').smartWizard('showMessage', $("#corr").val() + stepnumber + " " + $("#next").val());
                    $('#wizard').smartWizard('setError', { stepnum: stepnumber, iserror: true });
                } else {
                    $('#wizard').smartWizard('hideMessage');
                    $('#wizard').smartWizard('setError', { stepnum: stepnumber, iserror: false });
                }
            }
            return isStepValid;
        }

        function validateStep1() {
            var isValid = true;
            /* Validate Title */

            var title = $("#txtTitle").val();
            if (!title.trim()) {
                isValid = false;
                $('#msg_title').html("Please Enter Title").show();
            } else {
                $('#msg_title').html('').hide();
            }
            if ($("#VisualType").prop("selectedIndex") === 0) {
                isValid = false;
                $('#msg_visualType').html("Please choose Visual Type.");
            } else {
                $('#msg_visualType').html('').hide();
            }
            return isValid;
        }

        function validateAllSteps() {
            var isStepValid = true;
            if (validateStep1() == false) {
                isStepValid = false;
                $('#wizard').smartWizard('setError', { stepnum: 1, iserror: true });
            } else {
                $('#wizard').smartWizard('setError', { stepnum: 1, iserror: false });
            }
            if (!isStepValid) {
                $('#wizard').smartWizard('showMessage', $("#corr").val());
            }
            return isStepValid;
        }
    </script>
}
@section styles{
    <!-- duration Picker -->
    <link rel="stylesheet" type="text/css" href="~/Content/duration-picker/jquery.timepicker.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/duration-picker/site.css" />*@
    <!-- End duration Picker -->
    <!-- Switchery -->
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- End Switchery -->
    <style>
        .select-layout {
            border-style: dashed;
            border-spacing: 0px;
        }

        #duration {
            position: relative;
            top: -15px;
            left: 0;
            display: inline-block;
            margin-left: 0%;
            width: 20px;
        }

        #title {
            display: inline-block;
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #deleteArea {
            background-color: navajowhite;
            display: inline-block;
        }

        #toList {
            display: inline-block;
            background-color: transparent;
            margin-right: 20px;
        }

        #fromList {
            display: inline-block;
            background-color: transparent;
            margin-right: 20px;
        }

        #preview-warapper {
            background-color: transparent;
        }

        video {
            position: relative;
            width: 350px;
            height: 350px
        }


        #toList li {
            width: 500px;
            height: 40px;
            background-color: aliceblue;
            line-height: 40px;
            cursor: move;
            list-style-type: none;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        #fromList li {
            width: 500px;
            height: 40px;
            background-color: aliceblue;
            line-height: 40px;
            cursor: move;
            list-style-type: none;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dropArea {
            background-color: #fee
        }

        .dropAreaHover {
            background-color: #f00;
        }

        .i-old {
            border-radius: 3px;
        }

        .i-new {
            border: 1px solid red;
            box-shadow: 20px 10px 20px;
        }
    </style>
}

