@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@DSS.ResourcesLanguage.MatchingDeviceIndex.PageHeader</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.MatchingDeviceIndex.PageTitle</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div width:50%;">
                        <label>@DSS.ResourcesLanguage.MatchingDeviceIndex.LblLocation</label>
                        <select style="width:300px; height:25px" id="locationSelect">
                            <option value="0">---@DSS.ResourcesLanguage.MatchingDeviceIndex.TxtLocationDefault ---</option>
                            @{
                                var locationStringList = ViewBag.locationStringList as List<DSS.Models.LocationStringVM>;
                                foreach (var item in locationStringList)
                                {
                                    <option value="@(item.LocationId)">@(item.LocationStringList)</option>
                                }
                            }
                        </select>
                    </div>
                    <p class="text-muted font-13 m-b-30" style="color:dodgerblue">
                        @DSS.ResourcesLanguage.MatchingDeviceIndex.TxtInstruction
                    </p>
                    <div style="float:left; width:100%">
                        <label>@DSS.ResourcesLanguage.MatchingDeviceIndex.LblScreen</label>

                        <select style="width:300px; height:25px" id="screenListById" name="screenListById">
                            <option value="0">--- @DSS.ResourcesLanguage.MatchingDeviceIndex.TxtScreenDefault ---</option>
                        </select>
                        <div style="float:left; width:50%; ">
                            <label>@DSS.ResourcesLanguage.MatchingDeviceIndex.LblBox</label>
                            <select style="width:300px; height:25px" id="boxListById" name="boxListById">
                                <option value="0">--- @DSS.ResourcesLanguage.MatchingDeviceIndex.TxtBoxDefault ---</option>
                            </select>
                        </div>
                        <div style="float:right">
                            @{
                            <a class='btn btn-success'
                               id="btnMatch"
                               title="Please choose Location, Box And Screen">
                                @DSS.ResourcesLanguage.MatchingDeviceIndex.BtnMatch
                            </a>
                            }
                        </div>
                    </div>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @DSS.ResourcesLanguage.MatchingDeviceIndex.ColNo
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" aria-sort="ascending">
                                    @DSS.ResourcesLanguage.MatchingDeviceIndex.ColTitle
                                </th>
                                <th>@DSS.ResourcesLanguage.MatchingDeviceIndex.ColScreen</th>
                                <th>@DSS.ResourcesLanguage.MatchingDeviceIndex.ColBox</th>
                                <th>@DSS.ResourcesLanguage.MatchingDeviceIndex.ColDescription</th>
                                <th>@DSS.ResourcesLanguage.MatchingDeviceIndex.ColAction</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var deviceList = ViewBag.devicesList as List<DSS.Models.MatchingDeviceVM>;
                                var j = 0;
                                foreach (var item in deviceList)
                                {
                                    <tr>
                                        <td>@(++j)</td>
                                        <td>@(item.Title)</td>
                                        <td>@(item.ScreenName)</td>
                                        <td>@(item.BoxName)</td>
                                        <td>@(item.Description)</td>
                                        <td style="width:180px; text-align:center">
                                            <a href="/MatchingDevice/Form/@(item.DeviceId)" class="iframe"><i class="fa fa-pencil btn btn-info">@DSS.ResourcesLanguage.MatchingDeviceIndex.BtnEdit</i></a>
                                            <a class="btnDelete" data-id="@item.DeviceId"><i class="fa fa-trash btn btn-danger">@DSS.ResourcesLanguage.MatchingDeviceIndex.BtnDelete</i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.YesDelete" id="screen" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.NoCancel" id="screen" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.error" id="err" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.DeleteDevice" id="del" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Canceled" id="cancel" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.error" id="err" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.SafeDevice" id="safe" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.YesDelete" id="yes" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.NoCancel" id="no" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Sure" id="sure" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.DeleteNotif" id="notif" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted1" id="deleted" />

@section scripts{
    <!-- Datatables -->
    <script src="~/Content/template-material/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/template-material/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/template-material/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/template-material/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- iframe button matching-->
    <script src="~/Content/form-matching-device/jquery.colorbox.js"></script>
    <!-- end iframe button matching-->
    <!-- get list box and screen by location Id-->
    <script>
        $("#locationSelect").change(function (event) {
            event.preventDefault();
            var data = {
                id: $(this).val(),
            };
            $.ajax({
                type: "POST",
                url: "/MatchingDevice/ReceiveLocationId",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //data = JSON.parse(data);
                    //remove data when change location
                    $("#boxListById").find('option').remove().end()
                        .append('<option value="' + 0 + '">' + "--- Choose Box ---" + '</option>');
                    $("#screenListById").find('option').remove().end()
                        .append('<option value="' + 0 + '">' + "--- Choose Screen ---" + '</option>');
                    //load data box, screen by loaction id
                    for (var i = 0; i < data.boxListByLocationId.length; i++) {
                        if (data.boxListByLocationId[i] != '') {
                            $('#boxListById').append('<option value="' + data.boxListByLocationId[i].BoxId + '">' + data.boxListByLocationId[i].Name + '</option>');
                        }
                    }
                    for (var i = 0; i < data.screenListByLocationId.length; i++) {
                        if (data.screenListByLocationId[i] != '') {
                            $('#screenListById').append('<option value="' + data.screenListByLocationId[i].ScreenId + '">' + data.screenListByLocationId[i].Name + '</option>');
                        }
                    }
                },
                error: function () {
                    alert($("#err").val())
                }
            });
        });
    </script>
    <!-- END get list box and screen by location Id-->
    <!-- check value box, screen is seleted-->
    <script>
        $(document).ready(function () {
            setBtnStatus();
        });
        $("#boxListById").change(function () {
            setBtnStatus();
        });
        $("#screenListById").change(function () {
            setBtnStatus();
        });
        function setBtnStatus() {
            var box = $('#boxListById');
            var screen = $('#screenListById');
            var btnMatch = $('#btnMatch');
            if (box.val() == 0 || screen.val() == 0) {
                //console.log(box);
                btnMatch.attr("disabled", "disabled");
                btnMatch.bind('click', false);
                btnMatch.attr("class", "btn btn-success");
                //btnMatch.click(true);
            } else {
                btnMatch.attr("disabled", false);
                btnMatch.unbind('click', false);
                btnMatch.attr("class", "iframe btn btn-success");
                //show iframe
                $(document).ready(function () {
                    //Examples of how to assign the Colorbox event to elements
                    $(".iframe").colorbox({
                        iframe: true, width: "65%", height: "70%",
                        //refresh page when summit
                        //onClosed: function () { location.reload(true); },
                    });
                    //Example of preserving a JavaScript event for inline calls.
                    $("#click").click(function () {
                        $('#click').css({ "background-color": "#f00", "color": "#fff", "cursor": "inherit" }).text("Open this window again and this message will still be here.");
                        return false;
                    });
                });
            }
        }
    </script>
    <!--End check value box, screen is seleted-->
    <!--Send screen id, box id to controller-->
    <script>
        $(document).ready(function () {
            var selectedBoxId;
            var selectedScreenId;
            $("#boxListById").change(function () {
                selectedBoxId = $(this).val();
            });
            $("#screenListById").change(function () {
                selectedScreenId = $(this).val();
            });
            $("#btnMatch").click(function () {
                $(this).attr("href", "/MatchingDevice/Form?boxId=" + selectedBoxId + "&screenId=" + selectedScreenId);  //-----this will change href
            })
        });
    </script>
    <!--End Get screen id, box id send to controller-->
    <!--Sweet alert-->
    <script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
    <script>
        $(".btnDelete").click(function () {
            var btnDel = $(this);
            var boxNum = 0;
            swal({
                title: $("#sure").val(),
                text: $("#notif").val(),
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: $("#yes").val(),
                cancelButtonText: $("#no").val(),
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        var IdDelete = $(btnDel).attr("data-id");
                        $(btnDel).attr("href", "/MatchingDevice/Delete?Id=" + IdDelete);
                        $.ajax({
                            type: "GET",
                            url: "/MatchingDevice/Delete?Id=" + IdDelete,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                swal($("#deleted").val(), $("#del").val(), "success");
                                location.reload();
                            },
                            error: function () {
                                alert($("#err").val())
                            }
                        });
                    } else {
                        swal($("#cancel").val(), $("#safe").val(), "error");
                    }
                });
        });
    </script>
    <!--End Sweet alert-->
}

@section styles{
    <!-- Datatables -->
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- iframe button matching-->
    <link rel="stylesheet" href="~/Content/form-matching-device/colorbox.css" />
    <!-- end iframe button matching-->
    <!--Sweet alert-->
    <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
    <!--End Sweet alert-->
    <style>
        .sweet-alert p {
            font-size: 14px;
        }
    </style>
}