
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Brand Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@((Model?.Id != null) ? "Update Schedule" : "Make new Schedule")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm((Model?.Id != null) ? "Update" : "Add", "Scheduling", new { Id = (Model?.Id) }, FormMethod.Post, new { @id = "frm_brand", @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Screen orientation <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="orientaion" class="btn-group" data-toggle="buttons">
                                    <input type="radio" class="flat" checked name="isHorrizontal" value="0"> &nbsp; Portraint &nbsp;
                                    <input type="radio" class="flat" name="isHorrizontal" value="1"> Landscape
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Scenario Title <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-9">
                                <select class="select2_group form-control" name="BrandId">
                                    <option value="0">--- Select Scenario ---</option>
                                    @{
                                        var scenarioList = ViewBag.scenarioList as List<DSS.Models.ScenarioDetailVM>;
                                        if (scenarioList != null)
                                        {
                                            foreach (var item in scenarioList)
                                            {
                                                <option value="@(item.ScenarioId)" @(Model?.Id == item.ScenarioId ? "selected" : "")>@(item.Title)</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Device ID <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-9">
                                <select class="select2_group form-control" name="BrandId">
                                    <option value="0">--- Select Device ---</option>
                                    @{
                                        var deviceList = ViewBag.deviceList as List<DSS.Models.MatchingDeviceVM>;
                                        if (deviceList != null)
                                        {
                                            foreach (var item in deviceList)
                                            {
                                                <option value="@(item.Title)" @(Model?.Id == item.DeviceId ? "selected" : "")>@(item.Title)</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Playmode <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="playmode" class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary" id="btnAuto" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" class="Playmode" name="Playmode" value="0"> &nbsp; Auto &nbsp;
                                    </label>
                                    <label class="btn btn-default" id="btnFixed" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" class="Playmode" name="Playmode" value="1"> Fixed
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Start time <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <div class='input-group date' id='datetimepickerStart'>
                                    <input type='text' name="StartTime" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                End time <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <div class='input-group date' id='datetimepickerEnd'>
                                    <input type='text' name="EndTime" class="form-control" readonly="readonly" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Time to plays <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input name="TimesToPlay" id="TimeToPlay" class="form-control col-md-7 col-xs-12" min="0" type="number" value="@(Model?.TimesToPlay)" />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/vendors/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepickerStart').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A',
                defaultDate: "11/1/2013",
                disabledDates: [
                    moment("12/25/2013"),
                    new Date(2013, 11 - 1, 21),
                    "11/22/2013 00:53"
                ]
            });
            $('#datetimepickerEnd').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A',
            });
        });
    </script>
    <script>
        $(".Playmode").change(function () {
            var value = $(this).val(); //0: Auto; 1: Fixed
            if (value==1) { //Fixed
                $("#TimeToPlay").attr("disabled", "disabled");
                $("#datetimepickerEnd > input").removeAttr("readonly");
                $("#btnAuto").removeClass("btn-primary");
                $("#btnAuto").addClass("btn-default");
                $("#btnFixed").removeClass("btn-default");
                $("#btnFixed").addClass("btn-primary");
            } else { //Auto
                $("#TimeToPlay").removeAttr("disabled");
                $("#datetimepickerEnd > input").attr("readonly", "readonly");
                $("#btnAuto").removeClass("btn-default");
                $("#btnAuto").addClass("btn-primary");
                $("#btnFixed").removeClass("btn-primary");
                $("#btnFixed").addClass("btn-default");
            }
        });
    </script>
}
@section styles{
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
}