@model DSS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.UserChange.PageHeader2</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("ChangePassword", "BrandUserMng", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "changePassForm" }))
                    {
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">@DSS.ResourcesLanguage.UserChange.CurrPass<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="password" name="OldPassword" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">@DSS.ResourcesLanguage.UserChange.NewPass<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="password" name="NewPassword" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">@DSS.ResourcesLanguage.UserChange.Confirm<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="password" name="ConfirmPassword" class="form-control" value="">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                <a class='btn btn-warning'
                                   href="@Url.Action("Index", "Home")"
                                   title="Please choose Location, Box And Screen">
                                    @DSS.ResourcesLanguage.UserChange.BtnCancel
                                </a>
                                <button type="submit" class="btn btn-success">@DSS.ResourcesLanguage.UserChange.BtnUpdate</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@DSS.ResourcesLanguage.UserChange.InputWrong" id="conf" />
@section styles {
    <!--Sweet alert-->
    <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
    <!--End Sweet alert-->
    <!-- Switchery -->
    <link href="~/Content/template-material/vendors/pnotify.custom.min.css" rel="stylesheet">
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- End Switchery -->
    <!--Set color is red when show error validation-->
    <style>
        .validation-summary-errors {
            color: red;
        }
    </style>
    <!--End Set color is red when show error validation-->
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
    <script src="~/Content/vendors/pnotify.custom.min.js"></script>
    <script>
        $(document).ready(function() {
//            $('#changePassForm').submit(function(e) {
//                e.preventDefault();
//
//            });
            $('#changePassForm').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePassword","Account",new {area=string.Empty})',
                    dataType: 'json',
                    data: $('#changePassForm').serialize(),
                    success: function (result) {
                        if (result.success) {
                            swal("Change successful!", result.message , "success");
                            //PnotifySuccess(result.message);
                            clearFormData();
                        }
                        else
                        {
                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: $("#conf").val(),
                            })
                        }
                    },
                    error: function (error) {
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Error Occur!',
                        })
                    }
                });
            });
        });
        function PnotifySuccess(text) {
            new PNotify({
                title: "Success",
                type: "info",
                text: text,
            });
            alert(text);
        }
        function PnotifyFail(text) {
            new PNotify({
                title: "Failed",
                type: "danger",
                text: text,
            });
            alert(text);
        }
        function clearFormData() {
            $('#changePassForm').find("input[type=text],input[type=password]").val("");
        }
    </script>
    <!--Sweet alert-->
    <script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
    <!--End Sweet alert-->
}