@{
    ViewBag.Title = DSS.ResourcesLanguage.ScreenIndex.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@DSS.ResourcesLanguage.ScreenIndex.PageHeader</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@DSS.ResourcesLanguage.ScreenIndex.PageTitle</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="bs-glyphicons" style="width:60%; margin-left: 40%;">
                    <a href="/Screen/Form" class="iframe">
                        <ul class="bs-glyphicons-list">
                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" text-align:center></span>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="x_content">
                    @{
                        var success = ViewBag.success;
                        <div style="display:none" id="rsSuccess">@success</div>
                    }
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @DSS.ResourcesLanguage.ScreenIndex.ColNo
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" aria-sort="ascending">
                                    @DSS.ResourcesLanguage.ScreenIndex.ColScreenName
                                </th>
                                <th>@DSS.ResourcesLanguage.ScreenIndex.ColType</th>
                                <th>@DSS.ResourcesLanguage.ScreenIndex.ColDescription</th>
                                <th>@DSS.ResourcesLanguage.ScreenIndex.ColAction</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var screenList = ViewBag.screensList as List<DSS.Models.ScreenVM>;
                                var i = 0;
                                foreach (var item in screenList)
                                {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td>@(item.Name)</td>
                                        <td>@(item.isHorizontal ? DSS.ResourcesLanguage.ScreenAddForm.TxtLandscape : DSS.ResourcesLanguage.ScreenAddForm.TxtPortrait)</td>
                                        <td>@(item.Description)</td>
                                        <td style="width:180px; text-align:center">
                                            <a href="/Screen/Form/@(item.ScreenId)" class="iframe"><i class="fa fa-pencil btn btn-info"> @DSS.ResourcesLanguage.ScreenIndex.BtnEdit</i></a>
                                            <a class="btnDelete" data-id="@item.ScreenId"><i class="fa fa-trash btn btn-danger">@DSS.ResourcesLanguage.ScreenIndex.BtnDelete</i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@DSS.ResourcesLanguage.ScreenAddForm.TxtLandscape" id="land" />
<input type="hidden" value="@DSS.ResourcesLanguage.ScreenAddForm.TxtPortrait" id="port" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.ScreenInUse" id="use" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.PlsUnmatch" id="detacth" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Sure" id="sure" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.IfDelete" id="if" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.SafeScreen" id="safe" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Deleted1" id="del" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.DeleteScreen" id="deleted" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.Canceled" id="cancel" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.ScreenRecover" id="recover" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.error" id="error" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.YesDelete" id="yes" />
<input type="hidden" value="@DSS.ResourcesLanguage.GeneralError.NoCancel" id="no" />

@section scripts{
    <!-- Datatables -->
    <script src="~/Content/template-material/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/template-material/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/template-material/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/template-material/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/template-material/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <!-- iframe button matching-->
    <script src="~/Content/form-matching-device/jquery.colorbox.js"></script>
    <script>
        $(document).ready(function () {
            var rs = $("#rsSuccess").html() == "true" || $("#rsSuccess").html() == "True";
            console.log("result" + rs);
            if (rs) {
                $.notify("Add Media Successful.", "success");
            }
            //Examples of how to assign the Colorbox event to elements
            $(".iframe").colorbox({
                iframe: true, width: "65%", height: "80%",
                //refresh page when summit
                //onClosed: function () { location.reload(true); },
            });
            //Example of preserving a JavaScript event for inline calls.
            $("#click").click(function () {
                $('#click').css({ "background-color": "#f00", "color": "#fff", "cursor": "inherit" }).text("Open this window again and this message will still be here.");
                return false;
            });
        });
    </script>
    <!-- end iframe button matching-->
    <!--Sweet alert-->
    <script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
    <script>
        $(".btnDelete").click(function () {
            var btnDel = $(this);
            var IdScreen = $(btnDel).attr("data-id");
            var data = {
                id: IdScreen,
            };
            $.ajax({
                type: "POST",
                url: "/Screen/CheckScreenIdIsMatching",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.isUsing) {
                        swal($("#use").val(), $("#detacth").val() + data.deviceVM.Title + $("#if").val(), "error");
                    } else {
                        swal({
                            title: $("#sure").val(),
                            text: $("#recover").val(),
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: $("#yes").val(),
                            cancelButtonText: $("#no").val(),
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    var IdDelete = $(btnDel).attr("data-id");
                                    $(btnDel).attr("href", "/Screen/Delete?Id=" + IdDelete);
                                    $.ajax({
                                        type: "GET",
                                        url: "/Screen/Delete?Id=" + IdDelete,
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            swal($("#del").val(), $("#deleted").val(), "success");
                                            location.reload();
                                        },
                                        error: function () {
                                            alert($("#error").val())
                                        }
                                    });
                                } else {
                                    swal($("#cancel").val(), $("#safe").val(), "error");
                                }
                            });
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });
    </script>
    <!--End Sweet alert-->
}

@section styles{
    <!-- Datatables -->
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- iframe button matching-->
    <link rel="stylesheet" href="~/Content/form-matching-device/colorbox.css" />
    <!-- end iframe button matching-->
    <!--button add-->
    <link href="~/Content/button-add/css/custom.min.css" rel="stylesheet">
    <!-- End button add-->
    <!--Sweet alert-->
    <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
    <!--End Sweet alert-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
}




