@model DSS.Models.UserDetailVM
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout_Popup.cshtml";
    bool status = false;
    if (Model != null)
    {
        status = Model.isActive;
    }
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@((Model?.Id != null) ? "Update User information" : "Add new User")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm((Model?.Id != null) ? "Update" : "Add", "UserMng", new { Id = (Model?.Id) }, FormMethod.Post, new { @id = "frm_box", @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Full Name <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" name="FullName" class="form-control" value="@(Model?.FullName)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" name="Email" @((Model?.Id != null) ? "readonly='readonly'" : "") placeholder="abc@email.com" value="@(Model?.Email)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone Number</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" @((Model?.Id != null) ? "readonly='readonly'" : "") name="PhoneNumber" value="@(Model?.PhoneNumber)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Username <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" @((Model?.Id != null) ? "readonly='readonly'" : "") name="Username" placeholder="Username" value="@(Model?.UserName)">
                            </div>
                        </div>
                        if (Model?.Id == null)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Password <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" name="Password">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    <input type="button" class="form-control btn btn-success" value="Auto Generate">
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Role <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="select2_multiple form-control" name="Role" multiple="multiple">
                                    <option value="0">--- Select Role ---</option>
                                    @{
                                        var roleList = ViewBag.roleList as List<DSS.Models.RoleVM>;
                                        foreach (var item in roleList)
                                        {
                                            <option value="@(item.RoleName)" @((Model?.Role)?.CompareTo(item.RoleName) == 0 ? "selected" : "")>@(item.RoleName)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Brand Name <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="select2_group form-control" name="BrandId">
                                    <option value="0">--- Select Brand name ---</option>
                                    @{
                                        var brandsList = ViewBag.brandList as List<DSS.Models.BrandDetailVM>;
                                        foreach (var item in brandsList)
                                        {
                                            <option value="@(item.Id)" @(Model?.BrandId == item.Id ? "selected" : "")>@(item.Name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                Account Status
                                <br>
                                <small class="text-navy">Disabled user can not log in anymnore</small>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="checkbox" id="cbStatus" name="isActive" value="true" class="js-switch" @(status ? "checked" : "") /> <span id="spStatus">@(status ? "Enable" : "Disable")</span>
                               
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                <button type="reset" class="btn btn-primary">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section styles {
    <!-- Switchery -->
    <link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
}
@section scripts {
    <!-- Switchery Change Status Text-->
    <script>
        $("#cbStatus").change(function () {
            var text = "Disable";
            if (this.checked) {
                text = "Enable";
            }
            $('#spStatus').text(text);
        });
    </script>
    <!-- Switchery -->
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
}